@import "../../../styles/vars.scss";
@import "../../../styles/mixin.scss";

.button {
  border-radius: 1rem;
  border: none;
  color: map-get($colors, darkGray);
  text-align: center;
  padding: 0.5rem 1.25rem 0.5rem 1.25rem;
  cursor: pointer;
  position: relative;
}

.header__button--gray {
  @include buttonColors(
    map-get($colors, darkGray),
    map-get($colors, white),
    map-get($colors, orangeShade1)
  );
}
