@import "../../styles/vars.scss";

.reset-password {
    padding: 5rem 0rem 5rem 0rem;
    border-radius: 7rem;
    margin: 2rem 5rem 2rem 5rem;
    background-color: map-get($colors, black);
    &__margin {
        margin: 1.5rem;
      }
    &__title {
        padding: 0rem 25rem 2.5rem 25rem;
        color: map-get($colors, white);
    }
    &__error {
        color: map-get($colors, error);
        padding-bottom: 2.5rem;
    }
    &__success {
        color: map-get($colors, white);
        text-align: center;
        padding: 9rem 0rem 9rem 0rem;
    }
    &__this {
        color: map-get($colors, orangeShade1);
    }
}